/* Custom Properties */
:root {
	--color:		  		hsl(0, 0%, 94%);
	--color-bg:				hsl(200, 19%, 18%);
	--color-accent:		hsla(174, 100%, 29%, 1);
  --color-card-bg: 	hsl(0, 0%, 80%);
	--color-card: 		hsl(0, 0%, 12%);
	--color-card-highlight: hsl(0, 0%, 94%);
}
