.content {
	flex: 1;
	position: relative;
	overflow-y: scroll;
	padding: 8px;
	margin-bottom: 30px;
	min-width: 750px;
}

.ParentKeyContainer {
	/*margin-left: 8px;*/
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: var(--color-bg);
}

.ParentKeyInner {
	margin-left: 24px;
}

.ParentKeyLabel {
	background-color: var(--color-bg);
	width: 100%;
}

.ParentKeyInput {
	font-size: 1.05em !important;
	max-width: 100% !important;
	font-weight: 600;
}

.ParentKeyDrag {
	float: left;
	margin-top: 7px;
	font-size: 1em;
	display: none;
	cursor: all-scroll;
}

.KeyValue {
	padding: 2px;
	background-color: var(--color-bg);
}

.KeyValueInner {
	display: inline-block;
	width: calc(100% - 12px);
}

.KeyValueDrag {
	font-size: 0.75em;
	display: none;
	cursor: all-scroll;
}

.DisplayInlineBlock {
	display: inline-block;
}

.KeyInput {
	display: inline-block;
	width: 50%;
	height: 22px;
	font-size: 0.95em;
	vertical-align: middle;
	border: none;
}

.KeyInput:focus {
	border: 1px solid var(--color-accent);
	font-size: 0.875em;
}

.ValueInput {
	display: inline-block;
	width: 50%;
	height: 22px;
	font-size: 0.875em;
	vertical-align: middle;
}

.DragTarget {
	border-bottom: 25px solid var(--color-accent);
}

.ValueContainer {
	display: inline-block;
	width: 50%;
}

.ValueInputFile {
	width: calc(100% - 20px);
}

.ValueInputButton {
	height: 22px;
	margin-left: 4px;
	cursor: pointer;
}

.ValueCheckBoxLabel {
	padding-left: 10px;
	display: inline-block;
	width: calc(100% - 32px);
}

.ValueFlagSelectorButton {
	width: 100%;
	position: relative;
}

.ValueFlagSelectorItems {
	position: absolute;
	left: 25%;
	right: 8px;
	padding: 4px;
	z-index: 2;
	color: var(--color-bg);
	background-color: var(--color);
}

.ValueFlagSelectorItem {
	display: inline-block;
	width: 350px;
	overflow: hidden;
	font-size: 0.8em;
}

.ValueFlagSelectorItem:hover {
	color: var(--color-highlight);
}

.ValueFlagSelectorLabel {
	display: inline-block;
	height: 100%;
	width: calc(100% - 18px);
}

.ValueFlagSelectorCheckBox {
	width: 14px !important;
	height: 14px !important;
	vertical-align: middle;
	margin-right: 4px !important;
}

.ValueListButton {
	width: 100%;
	position: relative;
	text-align: left;
}

.ValueList {
	position: absolute;
	width: inherit;
	padding: 4px;
	z-index: 2;
	background-color: var(--color-bg);
	border: 1px solid var(--color-accent);
}
