/* Nav */

.nav {
	min-width: 300px;
	overflow-x: auto;
	overflow-y: auto;
	margin-bottom: 30px;
}

.FileSearchContainer {
	width: 100%;
	padding: 4px;
}

.FileSearchInput {
	border: none;
	border-bottom: 3px solid var(--color-accent);
	height: 32px;
	font-size: 1.1em;
	width: 100%;
}

.FileRootInner {
	font-size: 12px;
	display: none;
	max-width: 300px;
	overflow: hidden;
}

.FileRootInnerExpanded {
	display: block;
}

.FileRootHeader {
	font-weight: 500;
	cursor: default;
	overflow: hidden;
}

.FileRootHeaderInner {
	display: inline-block;
	max-width: 245px;
	overflow-x: hidden;
	vertical-align: middle;
	white-space: nowrap;
}

.FileRootExpander {
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 0.95em;
}

.FileRootIcon {
	padding-right: 6px;
}

.FileRootIconNoExpander {
	padding-left: 17px;
}

.FileRootClose {
	float: right;
	margin-top: 7px;
	font-size: 1em;
	display: none;
	cursor: pointer;
}

.FileRootHeader:hover > .FileRootClose {
	display: inline-block;
}

.FileRootName {
	display: inline-block;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	max-width: 200px;
	font-size: 0.98em;
}

.FileRootNameSmall {
	display: inline-block;
	font-size: 0.6em;
	font-weight: 400;
}

.FileLeaf {
	padding-left: 24px;
	padding-top: 2px;
	cursor: default;
}

.FileCurrent {
	background-color: var(--color-highlight);
	color: var(--color-bright);
}
